<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFileService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/GettingStarted/FileService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileService"
        contract="IFileService" name="WSHttpBinding_IFileService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/FileServiceLib/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
        contract="ServiceReference2.IFileService" name="BasicHttpBinding_IFileService" />
    </client>
  </system.serviceModel>
</configuration>