<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFileService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GettingStarted/FileService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileService"
                contract="IFileService" name="WSHttpBinding_IFileService">
                <identity>
                    <userPrincipalName value="CYBERDOM2\anwyr1" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>